src/__pycache__
config/settings.py
venv
assets/audio/bgm/*
!assets/audio/bgm/.gitkeep
assets/audio/on_bgm/*
!assets/audio/on_bgm/.gitkeep
assets/audio/sfx/*
!assets/audio/sfx/.gitkeep
assets/audio/voice/back/*
!assets/audio/voice/back/.gitkeep
assets/audio/voice/front/*
!assets/audio/voice/front/.gitkeep
assets/audio/voice/intro/*
!assets/audio/voice/intro/.gitkeep
assets/audio/voice/num/*
!assets/audio/voice/num/.gitkeep
assets/image/culture_art/*
!assets/image/culture_art/.gitkeep
assets/image/history/*
!assets/image/history/.gitkeep
assets/image/politics_finance/*
!assets/image/politics_finance/.gitkeep
assets/image/science/*
!assets/image/science/.gitkeep
assets/project/*
!assets/project/.gitkeep
assets/video/background/*
!assets/video/background/.gitkeep
assets/video/etc/*
!assets/video/etc/.gitkeep
assets/video/on_background/*
!assets/video/on_background/.gitkeep